*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.bild{
    background-image: url(
        "https://images.unsplash.com/photo-1577416412292-747c6607f055?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
        );
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

